
@{
    ViewData["Title"] = "Services";
}


<div class="row">
    <div class="col-3">
        <br/>
    </div>
    <div class="col-6">
        <h3>Services</h3>
    </div>
    <div class="col-3">
        <br/>
    </div>
</div>
<br />



<div class="row">
    <div class="col-6">
        <h4>Subscribed services</h4>
        <p class="alert alert-info alert-dismissible">
            Manage and pay the bills for the services to which you are subscribed. <br />
            @Html.ActionLink("My subscriptions","Subscriptions","Service",null,new {@class="btn btn-success"})
        </p>
    </div>
    <div class="col-6">
        <h4>My services</h4>
        <p class="alert alert-primary alert-dismissible">
            Manage your own services to charge from your subscribers/customers. <br />
            @Html.ActionLink("My services","Registered","Service",null,new {@class="btn btn-success"})
        </p>
    </div>


</div>