
@{
    ViewData["Title"] = "Make a payment";
}

<div class="row">
    <div class="col-3">
        <br/>
    </div>
    <div class="col-6">
        <h3>@ViewData["Title"]</h3>
    </div>
    <div class="col-3">
        <br/>
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Normal Payment", "SelectWallet", "Payment", new {}, new { @class = "btn btn-info loadingButton" })
        <br /><br />
        <div class="alert alert-success" role="alert">
            <b>Send regular payments to your recipients. First select the wallet from which you want to send money and then add the following requested information.</b> <br />
        </div>
    </div>
    <div class="col-md-4">
        @Html.ActionLink("View transfers", "Index", "Transfer", new { }, new { @class = "btn btn-info loadingButton" })
        <br /><br />
        <div class="alert alert-success" role="alert">
            <b>Check the transfers you have made and received</b>
        </div>
    </div>
</div>